/***********************

       FONT-FACE

***********************/

@font-face {
    font-family: "American Typewriter";
    src: url("../fonts/AmericanTypewriter.ttc"),
}

@font-face {
    font-family: "Avenir-Next";
    src: url("../fonts/Avenir-Next.ttc"),
}

@font-face {
    font-family: "Rockwell";
    src: url("../fonts/Rockwell.ttc"),
}

/***********************

       PARALLAX

***********************/

.section {
    height: 100%;
    overflow: hidden;
}

.js-cursor-parallax {
    will-change: transform;
}


/***********************

        HEADER

***********************/

header .title {
    z-index: 2;
}

.header h1 {
    color: #B8B3AD;
    font-weight: bold;
}

.title {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    font-family: Rockwell;
    z-index: 12;
    opacity: 0;
    transform: translateY(-100px);
}

.title.active {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 600ms 500ms ease-out, opacity 300ms 500ms ease-out;
    will-change: opacity;
}

.title h1 {
    position: absolute;
    margin-top: 20px;
    margin-left: 9%;
}

.title1,
.title2 {
    opacity: 0;
    transition: opacity 600ms ease-in;
    will-change: opacity;
}

.title1.active,
.title2.active {
    opacity: 1;
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 90px;
    width: 100%;
    height: 2px;
    background-color: #8b1014;
}

/***********************

        FOOTER

***********************/

footer.page-footer {
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .progress {
    margin: 0;
    background: transparent;
}

.fillBar {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: #9C1A1A;
    transition: width 700ms ease-out;
    will-change: width;
}


/***********************

      BACKGROUNGS

***********************/

body {
    background: #2A2A2A;
}

.section {
    z-index: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.background .opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.55;
    z-index: 2;
    transform: scale(1.2);
}

.background img {
    width: 100%;
    transform: scale(1.2);
}